html, body {
    width: 100%
}

body {
    text-align: center;
    background:rgb(232, 255, 255);
}

p, h3 {
    font-size: 20px;
    color:rgb(232, 101, 123);
    font-family: 'Press Start 2P', cursive;
}

h2 {
    color:rgb(245, 152, 167);
    font-size: 25px;
    font-family: 'Itim', cursive;
}

h4 {
    color:rgb(255, 185, 199);
    font-size: 20px;
    font-family: 'Itim', cursive;

}

a {
    color:rgb(255, 185, 199);
    font-size: 12px;
    font-family: 'Press Start 2P', cursive;
}

a {
    -webkit-transition: color 1s;
    transition: color 1s;
}
a:hover {
    color: rgb(255, 143, 182);
}