html, body {
    width: 100%
}

body {
    text-align: center;
    background:rgb(232, 255, 255);
}

p, h3 {
    font-size: 30px;
    color:rgb(232, 101, 123);
}

h2 {
    color:rgb(245, 152, 167)
}

h4 {
    color:rgb(255, 206, 216);
    font-size: 20px


}